{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block head %}
<style>
    #inovice {
        text-align: center;
    }
    .product-column {
        text-align: left;
    }
    .table{
        margin-left: auto;
        margin-right: auto;
    }

</style>
{% endblock %}
{% block body %}
    <h1>Nova Venda</h1>
    <p>Vendedor: {{ user.username }}</p>
    <p>Loja: {{ user.store }}</p>

    <form style="display: flex; justify-content: center;" action="." method="POST">{% csrf_token %}
            <select name="product-select" id="product-select">
                <option value="">---------</option>
                {% for choice in form.product.field.queryset %}
                    <option value="{{ choice.id }}" data-price="{{ choice.price }}">{{ choice.title }}</option>
                {% endfor %}
            </select>
            {{ "R$"|safe }}<input class="price" style="width: 100px;"  type="text" id="product-price">
            Qtd: <input style="width: 60px;" type="number" id="product-quantity">

            <input type="button" id="add-product-button" value="Adicionar Produto">
    </form>
    <hr>
    <div class="div d-block container-fluid" style="height: 500px; overflow-y: scroll;">
        <table class="table table-striped w-75">
            <thead style="text-align: center;">
                <tr>
                    <th class="col-6">PRODUTO</th>
                    <th class="col-1">PREÇO</th>
                    <th class="col-1">QUANTIDADE</th>
                    <th class="col-1">TOTAL</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody id="inovice"></tbody>
            <!-- <tbody>
                <tr>
                    <td>
                        S/N:
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Observações:
                    </td>
                    <td>
                        <textarea name="" id="" cols="30" rows="5"></textarea>
                    </td>
                </tr>
            </tbody> -->
        </table>
    </div>
    <hr>
    <b style="margin-left: 30%;">Valor Total: </b> <span id="inovice-total"></span>
    <div style="display: none;"  id="payment">
        <hr>
       <p><u><b>PAGAMENTO</b></u></p>
       <table>
        <thead>
            <tr>
                Forma de pagamento
            </tr>
            <tr>
                Valor
            </tr>
        </thead>
        <tbody id="payment-table"></tbody>
        <tbody id="total-payment"></tbody>
        <tbody id="payment-change"></tbody>
       </table>
    </div>
    <hr>


    <form style="text-align: center;" action="." method="POST">{% csrf_token %}

        <input type="hidden" name="product_ids" id="product-ids">
        <input type="hidden" name="product_prices" id="product-prices">
        <input type="hidden" name="quantities" id="quantities">
        <input type="hidden" name="payments-data" id="payments-data">
        Forma de pagamento:
        <select name="payment-method" id="payment-method">
            {% for payment in payment_methods %}
                <option value="{{ payment.id }}">{{ payment }}</option>
            {% endfor %}
        </select>
        Valor Recebido : {{ "R$"|safe }}<input class="price" style="width: 100px;" type="text" id="payment-value">
        <input type="button" name="payment-confirmation" id="payment-confirmation" value="Confirmar" disabled>
        <hr>
        <input type="submit" name="close-inovice" id="close-inovice" value="Confirmar Venda" disabled>
    </form>


    <script src="{% static 'pos/js/pos.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.price').on('input', function () {
                var value = $(this).val();
                value = value.replace(/[^0-9]/g, '');
                value = value.replace(/^0+/, '');
                if (value.length > 2) {
                    value = value.slice(0, -2) + ',' + value.slice(-2);
                }
                $(this).val(value);
            });
        });
    </script>
{% endblock %}
{% block footer %}
{% endblock %}