{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block head %}
<style>
    th {
        padding-left: 15px;
    }
    td {
        padding-left: 15px;
        text-align: center;
    }
    #inovice {
        background-color: rgba(255, 228, 196, 0.5);
    }
</style>
{% endblock %}
{% block body %}
    <h1>Nova Venda</h1>

    <form action="." method="POST">{% csrf_token %}
        <p>Vendedor: {{ user.username }} - Loja: {{ user.store }}</p>

        <select name="product-select" id="product-select">
            <option value="">---------</option>
            {% for choice in form.product.field.queryset %}
                <option value="{{ choice.id }}" data-price="{{ choice.price }}">{{ choice.title }}</option>
            {% endfor %}
        </select>
        <input type="text" id="product-price">
        <input type="number" id="product-quantity">
        <input type="button" id="add-product-button" value="Adicionar Produto">
    </form>
    <table>
        <thead>
            <tr>
                <th>PRODUTO</th>
                <th>PREÇO</th>
                <th>QUANTIDADE</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody id="inovice"></tbody>
    </table>
    <hr>
    <b> Total: <span id="inovice-total"></span></b>
    <form action="." method="POST">{% csrf_token %}

        <input type="hidden" name="product_ids" id="product-ids">
        <input type="hidden" name="product_prices" id="product-prices">
        <input type="hidden" name="quantities" id="quantities">

        <input type="submit" name="close-inovice" id="close-inovice" value="Confirmar">
    </form>
    <script src="{% static 'pos/js/pos.js' %}"></script>
{% endblock %}
{% block footer %}
{% endblock %}