{% extends 'base.html' %}

{% block body %}
    <h1>Detalhes da Venda</h1>
    <p>Data da Venda: {{ sale.date }}</p>
    <p>Vendedor: {{ sale.user.username }}</p>


    <div class="d-flex justify-content-center">
        <table class="table w-75">
            <thead>
                <tr style="text-align: center;">
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sale.saleitem_set.all %}
                    <tr style="text-align: center;">
                        <td style="text-align: left;">
                            {{ item.product.title }}
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>
                            {{ item.price }}
                        </td>
                        <td>
                            {{ item.total }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tbody>
                <tr style="text-align: center;">
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">Total:</td>
                    <td>{{ sale.total }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{% url 'sales' %}">Voltar para a lista de vendas</a>
{% endblock %}