{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}
  <style>
    #sales-table {
        text-align: center;
    }
    #sales-table th {
        padding-left: 25px;
    }
    #sales-table td {
        padding-left: 25px;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
    <h5><a rel="stylesheet" href="{% url 'new-sale' %}">Nova venda </a></h5>


    <form action="." method="POST">{% csrf_token %}
        <label for="datepicker">Selecione uma data:</label>
        <input type="text" id="datepicker" name="date" value="{% now  'd/m/Y' %}">
        <input type="submit" name="submit" id="submit" value="selecionar">
    </form>
    <hr>
    <div style="text-align: center; font-weight: bold;">
        Vendedor: {{ user }} | Loja: {{ user.store }}
    </div>
    <hr>
    <div style="text-align: end; font-weight: bold">{{ selected_date }}</div>

    <table id="sales-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>VALOR</th>
                <th>HORA</th>
                <th>VENDEDOR</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in selected_date_sales %}
            <tr>
                <td>
                    {{ sale.id }}
                </td>
                <td>
                    {{ "R$"|safe }}  {{ sale.total }}
                </td>
                <td>
                    {{ sale.date|date:"H:i" }}
                </td>
                <td>
                    {{ sale.user }}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <hr>
      <div style="text-align: center; color: gray;">
        Vendas Dia: {{ selected_date_sales|length }} |  Total Dia : {{ "R$"|safe }} {{ total_daily_sales|floatformat:2 }}
      </div>

  <script>
    $(document).ready(function () {
      // Inicialize o DatePicker do Bootstrap
      $('#datepicker').datepicker({
        format: 'dd/mm/yyyy', // Formato de data personalizado
        language: 'pt-BR',  // Idioma em português do Brasil
        autoclose: true ,    // Fecha automaticamente após a seleção
        endDate: "0d",
        todayBtn: "linked",
      });
    });
  </script>

{% endblock %}

{% block footer %}
{% endblock %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exemplo de DatePicker do Bootstrap</title>


</head>
<body>



</body>
</html>