{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}
<style>
    /* Reverter a ordem das linhas da tabela */
    table {
      width: 300%;
      border-collapse: separate;
      border-spacing: 10px;
      text-align: center;
    }
</style>
{% endblock %}

{% block body %}

    <h1>Painel de Vendas</h1>
    <h5><a href="{% url 'new-sale' %}">Nova Venda</a></h5>


    <table class="reversed">
        <thead>
            <tr>
                <th>ID</th>
                <th style="text-align: right;">Valor</th>
                <th>Data</th>
                <th>Vendedor</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }} </td>
                <td style="text-align: right;" >R$ {{ sale.formatted_total_sale  }}</td>
                <td>{{ sale.formatted_date }}</td>
                <td>{{ sale.user }}</td>
            </tr>                
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
