{% extends 'base.html' %}

{% block body %}
    <h1>Detalhes da Venda</h1>
    <p>Data da Venda: {{ sale.date }}</p>
    <p>Usuário: {{ sale.user.username }}</p>
    <p>Total: {{ sale.total }}</p>
    
    <h2>Produtos</h2>

    {{ sale.item.product.title }}

    <ul>
        {% for item in sale.saleitem_set.all %}
            <li>
                Produto: {{ item.product.title }}
                Quantidade: {{ item.quantity }}
                Preço unitário: {{ item.price }}
                Total: {{ item.total }}
            </li>
        {% endfor %}    
    </ul>
    
    <a href="{% url 'sales' %}">Voltar para a lista de vendas</a>
{% endblock %}