{% extends 'base.html' %}
{% block title %}Super Solution{% endblock %}
{% block body %}
    <h1>Inventário</h1>
    <h5><a href="{% url 'inventory' %}">Voltar para o inventário</a></h5>
    <form action="add-product" method="POST">{% csrf_token %}
        {{ form.product }}
        {{ form.quantity }}
        <select name="location" id="location">
            <option value="">Não definido</option>
            {% for store in stores %}
                <option value="{{ store }}">{{ store }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Adicionar">
    </form>
{% endblock %}