{% extends 'base.html' %}
{% block title %}Super Solution{% endblock %}
{% block body %}
    <h1>Inventário</h1>
    <h5><a href="{% url 'add-product' %}">Adicionar produtos</a> | <a href="{% url 'transfer-product' %}">Transfererir produtos</a></h5>

    <form action="transfer-product" method="POST"> {% csrf_token %}
        <select name="location" id="location">
            {% for store in stores %}
                <option value="{{ store }}">{{ store }}</option>
            {% endfor %}
            {% for stock in stocks %}
                <option value="{{ stock }}">{{ stock }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="" id="">
    </form>
{% endblock %}