{% extends 'base.html' %}
{% load static %}
{% block title %}Super Solution{% endblock %}
{% block body %}
    <h1>Inventário</h1>
    <form action="transfer-product" method="POST"> {% csrf_token %}
        <select name="location" id="location">
            {% for store in stores %}
                <option value="{{ store }}">{{ store }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="" id="submit-location">
    </form>
    {% for item in location_items %}
        {{ item.product }} - {{ item.quantity }}
    {% endfor %}
    <script src="{% static 'inventory/js/inventory.js' %}"></script>
{% endblock %}