    <h1>Página de Logout</h1>
    {% if request.user.is_authenticated %}
        <form action='' method='POST'> {% csrf_token %}
            <p>Tem certeza que quer sair?</p>
            <a href="{% url 'home' %}"><button type="submit">Sim, quero sair</button></a>
            <a href="{% url 'home' %}"></a>							
        </form>
    {% else %}
        <h2>voce foi/está deslogado</h2>
        <p>Clique aqui para entrar ou se cadastrar</p>
        <a href="{% url 'login' %}"><button>Entrar</button></a>
        <a href="{% url 'signup' %}"><button>Cadastrar</button></a>
	{% endif %}