{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <link rel="shortcut icon" href="#">

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .container-fluid {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-rows: auto;
            height: 100vh;
        }
        .sidebar {
            background-color: #343a40;
            color: #fff;
        }
        .content {
            background-color: #f8f9fa;
            padding: 20px;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
            <nav class="sidebar">
                <ul class="mt-5" style="list-style-type: none;">
                    {% if user.is_authenticated %}
                        <a href="{% url 'home' %}">
                            <li style="padding-top: 5px;">
                                Início
                            </li>
                        </a>
                        {% if user.store %}
                            <a href="{% url 'sales' %}">
                                <li style="padding-top: 5px;">
                                Vendas
                                </li>
                            </a>
                        {% else %}
                            <li style="padding-top: 5px; color: grey;">
                            Vendas
                            </li>
                        {% endif %}
                        <a href="{% url 'products' %}">
                            <li style="padding-top: 5px;">
                            Produtos
                            </li>
                        </a>
                        <a href="{% url 'clients' %}">
                            <li style="padding-top: 5px;">
                            Clientes
                            </li>
                        </a>
                        <a href="{% url 'profile' %}">
                            <li style="padding-top: 5px;">
                            Perfil
                            </li>
                        </a>
                        {% if user.is_superuser %}
                            <a href="{% url 'stores' %}">
                                <li style="padding-top: 5px;">
                                Lojas
                                </li>
                            </a>
                            <a href="{% url 'inventory' %}">
                                <li style="padding-top: 5px;">
                                Inventário
                                </li>
                            </a>
                        {% endif %}
                        <a href="{% url 'logout' %}">
                            <li style="padding-top: 5px;">
                            Sair
                            </li>
                        </a>
                    {% else %}
                        <a href="{% url 'manage' %}">
                            <li style="padding-top: 5px;">
                            Sistema
                            </li>
                        </a>
                        <a href="{% url 'signup' %}">
                            <li style="padding-top: 5px;">
                            Novo Usuário
                            </li>
                        </a>
                        <a href="{% url 'login' %}">
                            <li style="padding-top: 5px;">
                            Login
                            </li>
                        </a>
                    {% endif %}
                </ul>
            </nav>
            <main class="content">
                {% block body %}
                {% endblock %}
            </main>
    </div>
    <!-- bootstrap + popper  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>
</body>
</html>